body {
    background-color: black !important;
}

#calculator {
    display: none;
}

#startScreen {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50vh;
}

#nameScreen {
    display: none;
}