body {
    background-color: black !important;
}

#lifePointsOne {
    border: solid 2px red;
    
}

#lifePointsTwo {
    border: solid 2px red;
    
}

#lifePointsThree {
    border: solid 2px red;
    
}

#lifePointsFour {
    border: solid 2px red;
    
}

#lifePointsFive {
    border: solid 2px red;
    
}

#lifePointSix {
    border: solid 2px red;
    
}

#calculator {
    display: none;
}

#startScreen {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50vh;
}

#nameScreen {
    display: none;
}

